:root {
  /* Colores Principales */
  --color-primary:  #334155;   /* Botones | Cajas*/
  --color-tex-primary: white;  /* Texto en cajas */
  --color-secondary: #64748b;  /* Texto secundario */
  --fondo-general: #0f172a;    /* Fondo general */ 
  --color-efecto  : #3b82f6;   /* Efectos de hover */
  /* Tipografía */
  --font-main: 'Inter', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter;
    color: var(--color-tex-primary);
}

body {
  background-color: var(--fondo-general);
}

header{
  background-color: var(--color-primary);
  color: var(--color-tex-primary); 
  text-align: center;
  padding: 20px;
}

/* NAV */
.menu ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  background-color: var(--color-primary);
  margin-top: 10px;
}
.menu li {
  margin: 10px;
}
.menu a {
  text-decoration: none;
  font-size: 20px;
  color: white;
  font-family:Georgia;
}
.menu a:hover {
    color: var(--color-efecto);
}

/* Main */
main {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

img {
  width: 150px;
  border-radius: 100%;
  border: 3px solid var(--color-secondary)
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.caja-rellena {
  border: 2px solid var(--color-secondary);
  border-radius: 15px;
  padding: 10px 20px;
  background-color: var(--color-primary);
  display: flex;
  flex-direction: column;
  gap: 3px;
}

figcaption {
  background-color: var(--color-secondary);
  padding: 10px;
  border-radius: 15px;
}

.campo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.datos {
  color: var(--color-tex-primary);
  background-color: var(--color-primary);
  padding:2px 10px;
  border-radius: 10px;
  border: 1px solid var(--color-secondary);
}

/* Footer */
footer{
  background-color: var(--color-primary);
  color: var(--color-tex-primary); 
  text-align: center;
  padding: 0px;
}